# MA755 College Scoreboard

Data Source:  
Group Members: Stacy Li, Danjie Zhao, Sylvia Gao

# Background

# Data Exploration

In [1]:
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv("data_modeling.csv")

In [3]:
data.head()

,Unnamed: 0,CampusID,InstitutionID,MedianFamilyIncome,DebtNonCompleter,PredominantDegree,State,FirstGen,IndPerc,LoanPerc,MDEarning10,Control,NetPrice
0,0,100654,100200,22681.34069,10064.0,3,AL,0.369764,0.157669,0.7935,30300.0,1,11726.0
1,1,100663,105200,35359.88195,8650.0,3,AL,0.345912,0.330313,0.5529,39700.0,1,15123.0
2,2,100690,2503400,18409.75222,5644.5,3,AL,0.495726,0.907193,0.9679,40100.0,2,6927.0
3,3,100706,105500,33376.82879,8305.5,3,AL,0.324873,0.378065,0.4787,45500.0,1,11160.0
4,4,100724,100500,20444.53146,9500.0,3,AL,0.403549,0.180830,0.8157,26600.0,1,11029.0

In [8]:
data.set_index("CampusID")

,Unnamed: 0,InstitutionID,MedianFamilyIncome,DebtNonCompleter,PredominantDegree,State,FirstGen,IndPerc,LoanPerc,MDEarning10,Control,NetPrice
CampusID,,,,,,,,,,,,
100654,0,100200,22681.34069,10064.0,3,AL,0.369764,0.157669,0.7935,30300.0,1,11726.0
100663,1,105200,35359.88195,8650.0,3,AL,0.345912,0.330313,0.5529,39700.0,1,15123.0
100690,2,2503400,18409.75222,5644.5,3,AL,0.495726,0.907193,0.9679,40100.0,2,6927.0
100706,3,105500,33376.82879,8305.5,3,AL,0.324873,0.378065,0.4787,45500.0,1,11160.0
100724,4,100500,20444.53146,9500.0,3,AL,0.403549,0.180830,0.8157,26600.0,1,11029.0
100751,5,105100,61170.22425,7500.0,3,AL,0.264231,0.171912,0.4231,41900.0,1,18526.0
100760,6,100700,17430.21537,6170.5,2,AL,0.571237,0.450377,0.3807,27500.0,1,731.0
100812,7,100800,28232.56209,5561.0,3,AL,0.476550,0.760556,0.6278,39000.0,1,NaN
100830,8,831000,27148.50989,6170.0,3,AL,0.428831,0.345643,0.5630,35000.0,1,11419.0
100858,9,100900,75752.73595,11500.0,3,AL,0.182806,0.106922,0.3714,45700.0,1,16284.0
100937,10,101200,75354.43941,8750.0,3,AL,0.168342,0.041667,0.5103,44200.0,2,22544.0
101028,11,1218200,18862.18627,3105.0,2,AL,0.467407,0.522243,0.0348,26100.0,1,1190.0
101073,12,1055400,16071.33099,5500.0,2,AL,0.490196,0.215569,0.7121,19900.0,2,12596.0
101116,13,1303906,16923.38828,4750.0,2,AL,0.515654,0.807254,0.7885,28800.0,3,24044.0
101143,14,101500,19560.87804,4907.0,2,AL,0.481233,0.516553,0.2870,24600.0,1,5193.0
101161,15,106000,22798.78913,3719.0,2,AL,0.475390,0.411813,0.3508,28700.0,1,6321.0
101189,16,100300,24938.84278,8250.0,3,AL,0.453940,0.607160,0.9334,37200.0,2,18500.0
101240,17,101700,14020.08555,NaN,2,AL,0.551696,0.570861,0.0000,25700.0,1,5620.0
101286,19,101800,15860.21048,NaN,2,AL,0.522377,0.542329,0.0000,26600.0,1,2408.0
101295,20,787100,25745.74135,5500.0,2,AL,0.554747,0.451968,0.4005,28800.0,1,8959.0
101301,21,569900,13230.71571,NaN,2,AL,0.517787,0.434501,0.0000,24200.0,1,10765.0
101365,22,962107,18063.48579,5895.5,2,AL,0.520630,0.852701,0.3364,42300.0,3,23121.0
101435,23,101900,42377.91560,6874.5,3,AL,0.362517,0.266667,0.7204,36500.0,2,18650.0
101462,25,526000,11607.76058,NaN,1,AL,0.600000,0.737179,0.0000,22300.0,1,6520.0
101480,26,102000,34371.08920,8608.0,3,AL,0.414060,0.298319,0.6925,34600.0,1,15688.0
101499,27,102100,16838.86486,NaN,2,AL,0.582583,0.427822,0.0000,25400.0,1,3820.0
101505,28,102200,21074.96521,3500.0,2,AL,0.495670,0.537957,0.2411,29400.0,1,9273.0
101514,29,101300,20675.50934,3500.0,2,AL,0.502195,0.516280,0.4607,27400.0,1,6037.0
101541,30,102300,35466.24580,11800.0,3,AL,0.378641,0.259912,0.6884,29300.0,2,16700.0
101569,31,105900,14034.75944,NaN,1,AL,0.467174,0.472951,0.0000,23800.0,1,7514.0
...,...,...,...,...,...,...,...,...,...,...,...,...
45316303,7747,145934,17006.54528,6334.0,0,NC,0.520026,0.912442,NaN,49200.0,3,NaN
45316304,7748,145944,17006.54528,6334.0,0,NC,0.520026,0.912442,NaN,49200.0,3,NaN
45316305,7749,145963,17006.54528,6334.0,0,NC,0.520026,0.912442,NaN,49200.0,3,NaN
45316306,7750,145964,17006.54528,6334.0,0,NC,0.520026,0.912442,NaN,49200.0,3,NaN
45321501,7751,145962,17006.54528,6334.0,0,NJ,0.520026,0.912442,NaN,49200.0,3,NaN
45321502,7752,145983,17006.54528,6334.0,0,NJ,0.520026,0.912442,NaN,49200.0,3,NaN
45321503,7753,145985,17006.54528,6334.0,0,NJ,0.520026,0.912442,NaN,49200.0,3,NaN
45666701,7759,145978,17006.54528,6334.0,0,OH,0.520026,0.912442,NaN,49200.0,3,NaN
45666702,7760,145979,17006.54528,6334.0,0,OH,0.520026,0.912442,NaN,49200.0,3,NaN
45666703,7761,145980,17006.54528,6334.0,0,OH,0.520026,0.912442,NaN,49200.0,3,NaN
45666704,7762,145997,17006.54528,6334.0,0,OH,0.520026,0.912442,NaN,49200.0,3,NaN
45666705,7763,145996,17006.54528,6334.0,0,OH,0.520026,0.912442,NaN,49200.0,3,NaN
45891901,7766,145940,17006.54528,6334.0,0,GA,0.520026,0.912442,NaN,49200.0,3,NaN
45891902,7767,145946,17006.54528,6334.0,0,GA,0.520026,0.912442,NaN,49200.0,3,NaN
45891903,7768,145952,17006.54528,6334.0,0,GA,0.520026,0.912442,NaN,49200.0,3,NaN
45891904,7769,145959,17006.54528,6334.0,0,GA,0.520026,0.912442,NaN,49200.0,3,NaN
45891905,7770,145965,17006.54528,6334.0,0,GA,0.520026,0.912442,NaN,49200.0,3,NaN
45891906,7771,145971,17006.54528,6334.0,0,GA,0.520026,0.912442,NaN,49200.0,3,NaN
45891907,7772,145972,17006.54528,6334.0,0,GA,0.520026,0.912442,NaN,49200.0,3,NaN
45891908,7773,145996,17006.54528,6334.0,0,GA,0.520026,0.912442,NaN,49200.0,3,NaN
45896401,7774,145945,17006.54528,6334.0,0,SC,0.520026,0.912442,NaN,49200.0,3,NaN
45896402,7775,145954,17006.54528,6334.0,0,SC,0.520026,0.912442,NaN,49200.0,3,NaN
45897301,7776,145990,17006.54528,6334.0,0,TX,0.520026,0.912442,NaN,49200.0,3,NaN
45897302,7777,145992,17006.54528,6334.0,0,TX,0.520026,0.912442,NaN,49200.0,3,NaN
45897303,7778,145994,17006.54528,6334.0,0,TX,0.520026,0.912442,NaN,49200.0,3,NaN
45897304,7779,145995,17006.54528,6334.0,0,TX,0.520026,0.912442,NaN,49200.0,3,NaN
47701101,7789,10145905,17006.54528,6334.0,0,MN,0.520026,0.912442,NaN,49200.0,3,NaN
47702001,7790,10145903,17006.54528,6334.0,0,IL,0.520026,0.912442,NaN,49200.0,3,NaN
47702002,7791,10145902,17006.54528,6334.0,0,IL,0.520026,0.912442,NaN,49200.0,3,NaN
47702003,7792,10145906,17006.54528,6334.0,0,IL,0.520026,0.912442,NaN,49200.0,3,NaN

In [11]:
data = data.drop("Unnamed: 0",axis =1)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6050 entries, 0 to 6049
Data columns (total 12 columns):
CampusID              6050 non-null int64
InstitutionID         6050 non-null int64
MedianFamilyIncome    6022 non-null float64
DebtNonCompleter      5419 non-null float64
PredominantDegree     6050 non-null int64
State                 6050 non-null object
FirstGen              5826 non-null float64
IndPerc               5924 non-null float64
LoanPerc              5618 non-null float64
MDEarning10           6050 non-null float64
Control               6050 non-null int64
NetPrice              5411 non-null float64
dtypes: float64(7), int64(4), object(1)
memory usage: 567.3+ KB

In [13]:
data.isnull().mean()*100

CampusID               0.000000
InstitutionID          0.000000
MedianFamilyIncome     0.462810
DebtNonCompleter      10.429752
PredominantDegree      0.000000
State                  0.000000
FirstGen               3.702479
IndPerc                2.082645
LoanPerc               7.140496
MDEarning10            0.000000
Control                0.000000
NetPrice              10.561983
dtype: float64

In [15]:
#import hashlib package
import hashlib

#define test_set_check function to compute a hash of each instance's indentifier
def test_set_check(identifier, test_ratio, hash):
    #put the instance in the test set if the value is lower or equal to 51=20%*256
    return hash(np.int64(identifier)).digest()[-1] < 256 * test_ratio

#Get the test and traning dataset based on the result of test_set_check() function
def split_train_test_by_id(data, test_ratio, id_column, hash=hashlib.md5):
    ids = data[id_column]
    in_test_set = ids.apply(lambda id_: test_set_check(id_, test_ratio, hash))
    return data.loc[~in_test_set], data.loc[in_test_set]

In [17]:

#split training dataset and test dataset by the newly created id column
train_set, test_set = split_train_test_by_id(data, 0.2, "CampusID")

# Data Preparation

After doing some exploratory analysis, we have gained some insights into the dataset and identify several variables that may be useful for prediction such as median income and ocean proximity. Before proceeding to the modeling stage, we need to first prepare a clean dataset to feed into model, which requires us to do something about missing values and encode categorical variables to numerical variables.

First separate predictors and prediction label into two dataset, so that we can deal with the missing value in predictors without interrupting response variable.

In [21]:
college = train_set.drop("MDEarning10", axis=1) #drop this column
college_labels = test_set["MDEarning10"].copy()
print(college.shape)
print(college_labels.shape)

(4807, 11)
(1243,)

## Data Cleaning

After getting two separate dataset for predictors and response variable. We can start off with data cleaning. Here, we decide to use median value of the column to replace missing values since the missing rate is not very high.

In [25]:
from sklearn.preprocessing import Imputer
imputer = Imputer(strategy = 'median') #create a empty transformer with specified strategy

Drop columns not useful for prediction.

In [ ]:
college.drop(["CampusID","InstitutionID"], axis = 1, inplace = True)

Drop categorical variables.

In [92]:
college_num = college.drop(['State', 'PredominantDegree','Control'], axis = 1)

Fit the transform to the dataset only containing numerical variables. Median value of each columns are estimated, which will later be used to perform transformation.

In [93]:
imputer.fit(college_num)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='median', verbose=0)

Use the parameter estimated to perform transformation.

In [94]:
X = imputer.transform(college_num)

The output is a numpy array, so we need to convert is back to pandas dataframe.

In [95]:
college_tr = pd.DataFrame(X, columns = college_num.columns)

## Encode Categorical Variables

There are three categorical variables in the dataset: State, PredominantDegree, Control. They are all nominal variables, so we use `LabelBinarizer` transform to encode them into dummy variables. However, `LabelBinarized` can only accept one column as input, so I modify the transformer to allow multiple columns.

In [96]:
from sklearn.preprocessing import LabelBinarizer
encoder = LabelBinarizer()

In [97]:
college_cat = college[['State', 'PredominantDegree','Control']]

We create a custom transformer `EncodeCategorical` to allow us to code multiple categorical variables into dummier at the same time.

In [98]:
from sklearn.base import BaseEstimator, TransformerMixin

class EncodeCategorical(BaseEstimator, TransformerMixin):
    """
    Encodes a specified list of columns or all columns if None.
    """

    def __init__(self, columns=None):
        self.columns  = columns
        self.encoders = None

    def fit(self, data, target=None):
        """
        Expects a data frame with named columns to encode.
        """
        # Encode all columns if columns is None
        if self.columns is None:
            self.columns = data.columns

        # Fit a label encoder for each column in the data frame
        self.encoders = {
            column: LabelBinarizer().fit(data[column])
            for column in self.columns
        }
        return self

    def transform(self, data):
        """
        Uses the encoders to transform a data frame.
        """
        output = np.empty([4807,0])
        for column, encoder in self.encoders.items():
             ay = encoder.transform(data[column])
             output = np.concatenate((output, ay), axis = 1)
        return output

In [99]:
len(college)

4807

In [100]:
encoder = EncodeCategorical(columns = ['State', 'PredominantDegree','Control'])
college_cat_tr = encoder.fit_transform(college)

The output is a numpy array with a size (4807, 66). All variables are dummy variables.

In [101]:
college_cat_tr.shape

(4807, 66)

## Transformation Pipelines

 Then we can create a Pipeline to accommodate all the estimators and execute them in a sequence, which would make the modeling process more automated and easy to manage. It should be noted that all but the last estimators should be transformers which have fit_transform() method. When we call fit_transform() method, the output of each estimators is fed into next estimator, until the end of pipeline.

We create a estimator used to select variables of the same type, so that we can divide the processing of numerical variables and categorical variabls into two sub pipeline.

In [110]:
from sklearn.base import BaseEstimator, TransformerMixin

class DataFrameSelector(BaseEstimator, TransformerMixin): #include BaseEstimator and TransformerMixin as base class
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names 
    def fit(self, X, y=None):  #Don't have to estimate any parameter, so no action
        return self
    def transform(self, X):
        return X[self.attribute_names]

Now it's time to construct a full pipeline. The full pipeline consists of two parallel pipeline, one for categorical variables and one for numerical variables. At the beginning of each parallel pipeline, the `DataFrameSelector` is used to select only columns that we would like feed into the pipeline. At the end of pipeline, we use `FeatureUnion` function to combine two output together to form a clean dataset.

In [111]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import FeatureUnion

num_attribs = college_num.columns
cat_attribs = ['State', 'PredominantDegree','Control']

num_pipeline = Pipeline([
        ('selector',DataFrameSelector(num_attribs)),
        ('imputer', Imputer(strategy = 'median')),
        ('std_scaler', StandardScaler()), 
    ])

cat_pipeline = Pipeline([
        ('select', DataFrameSelector(cat_attribs)),
        ('label_binarizer', EncodeCategorical())
    ])

full_pipeline = FeatureUnion(transformer_list=[
        ('num_pipeline', num_pipeline),
        ('cat_pipeline', cat_pipeline),
    ])

Apply the full pipeline on the college data.

In [119]:
college_prepared = full_pipeline.fit_transform(college)
college_prepared.shape

(4807, 72)

The output of the pipelinw has a shape of (4807, 72)

# Modeling