# MA755 College Scoreboard

Data Source:  
Group Members: Stacy Li, Danjie Zhao, Sylvia Gao

# Background

# Data Exploration

In [1]:
import numpy as np
import pandas as pd

In [2]:
data= pd.read_csv("data_modeling.csv")

In [3]:
data.head()

,Unnamed: 0,CampusID,InstitutionID,MedianFamilyIncome,DebtNonCompleter,PredominantDegree,State,FirstGen,IndPerc,LoanPerc,MDEarning10,Control,NetPrice
0,0,100654,100200,22681.34069,10064.0,3,AL,0.369764,0.157669,0.7935,30300.0,1,11726.0
1,1,100663,105200,35359.88195,8650.0,3,AL,0.345912,0.330313,0.5529,39700.0,1,15123.0
2,2,100690,2503400,18409.75222,5644.5,3,AL,0.495726,0.907193,0.9679,40100.0,2,6927.0
3,3,100706,105500,33376.82879,8305.5,3,AL,0.324873,0.378065,0.4787,45500.0,1,11160.0
4,4,100724,100500,20444.53146,9500.0,3,AL,0.403549,0.180830,0.8157,26600.0,1,11029.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6050 entries, 0 to 6049
Data columns (total 13 columns):
Unnamed: 0            6050 non-null int64
CampusID              6050 non-null int64
InstitutionID         6050 non-null int64
MedianFamilyIncome    6022 non-null float64
DebtNonCompleter      5419 non-null float64
PredominantDegree     6050 non-null int64
State                 6050 non-null object
FirstGen              5826 non-null float64
IndPerc               5924 non-null float64
LoanPerc              5618 non-null float64
MDEarning10           6050 non-null float64
Control               6050 non-null int64
NetPrice              5411 non-null float64
dtypes: float64(7), int64(5), object(1)
memory usage: 614.5+ KB

In [6]:
data.isnull().mean()*100

Unnamed: 0             0.000000
CampusID               0.000000
InstitutionID          0.000000
MedianFamilyIncome     0.462810
DebtNonCompleter      10.429752
PredominantDegree      0.000000
State                  0.000000
FirstGen               3.702479
IndPerc                2.082645
LoanPerc               7.140496
MDEarning10            0.000000
Control                0.000000
NetPrice              10.561983
dtype: float64

# Data Preparation

# Modeling